In [96]:
# Import Packages

# Array and Dataframe processing:
import pandas as pd
import numpy as np

# Visualization:
import seaborn as sns
sns.set_style("darkgrid")
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.graph_objects as go
import plotly.express as px
import plotly.figure_factory as ff

In [97]:
df = pd.read_csv("../data/case_study.csv")
df.head()

/Users/raphaelkrantz/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (171) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,...,_PA300R2,_PA30021,_PASTRNG,_PAREC1,_PASTAE1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,49938,9.0,5.0,5172017,5,17,2017,1200.0,2017000001,2.017000e+09,...,2.0,2.0,2.0,4.0,2.0,1.0,1.0,NaN,NaN,1.0
1,49939,9.0,2.0,2142017,2,14,2017,1200.0,2017000002,2.017000e+09,...,1.0,1.0,1.0,1.0,1.0,2.0,2.0,NaN,NaN,2.0
2,49940,9.0,1.0,1292017,1,29,2017,1200.0,2017000003,2.017000e+09,...,3.0,2.0,1.0,3.0,2.0,1.0,1.0,NaN,NaN,2.0
3,49941,9.0,7.0,9112017,9,11,2017,1200.0,2017000004,2.017000e+09,...,2.0,2.0,2.0,2.0,2.0,1.0,1.0,NaN,NaN,1.0
4,49942,9.0,5.0,7182017,7,18,2017,1200.0,2017000005,2.017000e+09,...,2.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,2.0

In [98]:
print(df.shape)
df.info()

(34545, 359)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34545 entries, 0 to 34544
Columns: 359 entries, Unnamed: 0 to _AIDTST3
dtypes: float64(352), int64(6), object(1)
memory usage: 94.6+ MB

In [99]:
cols = []
for col in df.columns:
    cols.append(col)
print(cols)

['Unnamed: 0', '_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE', 'SEQNO', '_PSU', 'CTELENM1', 'PVTRESD1', 'COLGHOUS', 'STATERE1', 'CELLFON4', 'LADULT', 'NUMADULT', 'NUMMEN', 'NUMWOMEN', 'SAFETIME', 'CTELNUM1', 'CELLFON5', 'CADULT', 'PVTRESD3', 'CCLGHOUS', 'CSTATE1', 'LANDLINE', 'HHADULT', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'HLTHPLN1', 'PERSDOC2', 'MEDCOST', 'CHECKUP1', 'BPHIGH4', 'BPMEDS', 'CHOLCHK1', 'TOLDHI2', 'CHOLMED1', 'CVDINFR4', 'CVDCRHD4', 'CVDSTRK3', 'ASTHMA3', 'ASTHNOW', 'CHCSCNCR', 'CHCOCNCR', 'CHCCOPD1', 'HAVARTH3', 'ADDEPEV2', 'CHCKIDNY', 'DIABETE3', 'DIABAGE2', 'LMTJOIN3', 'ARTHDIS2', 'ARTHSOCL', 'JOINPAI1', 'SEX', 'MARITAL', 'EDUCA', 'RENTHOM1', 'NUMHHOL2', 'NUMPHON2', 'CPDEMO1A', 'VETERAN3', 'EMPLOY1', 'CHILDREN', 'INCOME2', 'INTERNET', 'WEIGHT2', 'HEIGHT3', 'PREGNANT', 'DEAF', 'BLIND', 'DECIDE', 'DIFFWALK', 'DIFFDRES', 'DIFFALON', 'SMOKE100', 'SMOKDAY2', 'STOPSMK2', 'LASTSMK2', 'USENOW3', 'ECIGARET', 'ECIGNOW', 'ALCDAY5', 'AVEDRNK2', 'DRNK3GE5', 'MAXDRNKS', 'FRUIT2', 'FRUITJU2', 'FVGREEN1', 'FRENCHF1', 'POTATOE1', 'VEGETAB2', 'EXERANY2', 'EXRACT11', 'EXEROFT1', 'EXERHMM1', 'EXRACT21', 'EXEROFT2', 'EXERHMM2', 'STRENGTH', 'SEATBELT', 'FLUSHOT6', 'FLSHTMY2', 'PNEUVAC3', 'SHINGLE2', 'HIVTST6', 'HIVTSTD3', 'HIVRISK5', 'PDIABTST', 'PREDIAB1', 'INSULIN', 'BLDSUGAR', 'FEETCHK2', 'DOCTDIAB', 'CHKHEMO3', 'FEETCHK', 'EYEEXAM', 'DIABEYE', 'DIABEDU', 'COPDCOGH', 'COPDFLEM', 'COPDBRTH', 'COPDBTST', 'COPDSMOK', 'HAREHAB1', 'STREHAB1', 'CVDASPRN', 'ASPUNSAF', 'RLIVPAIN', 'RDUCHART', 'RDUCSTRK', 'BPEATHBT', 'BPSALT', 'BPALCHOL', 'BPEXER', 'BPEATADV', 'BPSLTADV', 'BPALCADV', 'BPEXRADV', 'BPMEDADV', 'BPHI2MR', 'ARTTODAY', 'ARTHWGT', 'ARTHEXER', 'ARTHEDU', 'ASTHMAGE', 'ASATTACK', 'ASERVIST', 'ASDRVIST', 'ASRCHKUP', 'ASACTLIM', 'ASYMPTOM', 'ASNOSLEP', 'ASTHMED3', 'ASINHALR', 'PAINACT2', 'QLMENTL2', 'QLSTRES2', 'QLHLTH2', 'SLEPTIM1', 'ADSLEEP', 'SLEPDAY1', 'SLEPSNO2', 'SLEPBRTH', 'MEDICARE', 'HLTHCVR1', 'DELAYMED', 'DLYOTHER', 'NOCOV121', 'LSTCOVRG', 'DRVISITS', 'MEDSCOS1', 'CARERCVD', 'MEDBILL1', 'ASBIALCH', 'ASBIDRNK', 'ASBIBING', 'ASBIADVC', 'ASBIRDUC', 'CNCRDIFF', 'CNCRAGE', 'CNCRTYP1', 'CSRVTRT2', 'CSRVDOC1', 'CSRVSUM', 'CSRVRTRN', 'CSRVINST', 'CSRVINSR', 'CSRVDEIN', 'CSRVCLIN', 'CSRVPAIN', 'CSRVCTL1', 'SSBSUGR2', 'SSBFRUT3', 'WTCHSALT', 'DRADVISE', 'MARIJANA', 'USEMRJN1', 'RSNMRJNA', 'PFPPRVN2', 'TYPCNTR7', 'NOBCUSE6', 'IMFVPLAC', 'HPVADVC2', 'HPVADSHT', 'TETANUS', 'LCSFIRST', 'LCSLAST', 'LCSNUMCG', 'LCSCTSCN', 'CAREGIV1', 'CRGVREL2', 'CRGVLNG1', 'CRGVHRS1', 'CRGVPRB2', 'CRGVPERS', 'CRGVHOUS', 'CRGVMST2', 'CRGVEXPT', 'CIMEMLOS', 'CDHOUSE', 'CDASSIST', 'CDHELP', 'CDSOCIAL', 'CDDISCUS', 'EMTSUPRT', 'LSATISFY', 'SDHBILLS', 'SDHMOVE', 'HOWSAFE1', 'SDHFOOD', 'SDHMEALS', 'SDHMONEY', 'SDHSTRES', 'SXORIENT', 'TRNSGNDR', 'FIREARM4', 'GUNLOAD', 'LOADULK2', 'RCSGENDR', 'RCSRLTN2', 'CASTHDX2', 'CASTHNO2', 'QSTVER', 'QSTLANG', 'MSCODE', '_STSTR', '_STRWT', '_RAWRAKE', '_WT2RAKE', '_IMPRACE', '_CHISPNC', '_CRACE1', '_CPRACE', '_CLLCPWT', '_DUALUSE', '_DUALCOR', '_LLCPWT2', '_LLCPWT', '_RFHLTH', '_PHYS14D', '_MENT14D', '_HCVU651', '_RFHYPE5', '_CHOLCH1', '_RFCHOL1', '_MICHD', '_LTASTH1', '_CASTHM1', '_ASTHMS1', '_DRDXAR1', '_LMTACT1', '_LMTWRK1', '_LMTSCL1', '_PRACE1', '_MRACE1', '_HISPANC', '_RACE', '_RACEG21', '_RACEGR3', '_RACE_G1', '_AGEG5YR', '_AGE65YR', '_AGE80', '_AGE_G', 'HTIN4', 'HTM4', 'WTKG3', '_BMI5', '_BMI5CAT', '_RFBMI5', '_CHLDCNT', '_EDUCAG', '_INCOMG', '_SMOKER3', '_RFSMOK3', '_ECIGSTS', '_CURECIG', 'DRNKANY5', 'DROCDY3_', '_RFBING5', '_DRNKWEK', '_RFDRHV5', 'FTJUDA2_', 'FRUTDA2_', 'GRENDA1_', 'FRNCHDA_', 'POTADA1_', 'VEGEDA2_', '_MISFRT1', '_MISVEG1', '_FRTRES1', '_VEGRES1', '_FRUTSU1', '_VEGESU1', '_FRTLT1A', '_VEGLT1A', '_FRT16A', '_VEG23A', '_FRUITE1', '_VEGETE1', '_TOTINDA', 'METVL11_', 'METVL21_', 'MAXVO2_', 'FC60_', 'ACTIN11_', 'ACTIN21_', 'PADUR1_', 'PADUR2_', 'PAFREQ1_', 'PAFREQ2_', '_MINAC11', '_MINAC21', 'STRFREQ_', 'PAMISS1_', 'PAMIN11_', 'PAMIN21_', 'PA1MIN_', 'PAVIG11_', 'PAVIG21_', 'PA1VIGM_', '_PACAT1', '_PAINDX1', '_PA150R2', '_PA300R2', '_PA30021', '_PASTRNG', '_PAREC1', '_PASTAE1', '_RFSEAT2', '_RFSEAT3', '_FLSHOT6', '_PNEUMO2', '_AIDTST3']

In [100]:
df.rename(columns = {"Unnamed: 0": "Record"})

,Record,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,...,_PA300R2,_PA30021,_PASTRNG,_PAREC1,_PASTAE1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,49938,9.0,5.0,5172017,5,17,2017,1200.0,2017000001,2.017000e+09,...,2.0,2.0,2.0,4.0,2.0,1.0,1.0,NaN,NaN,1.0
1,49939,9.0,2.0,2142017,2,14,2017,1200.0,2017000002,2.017000e+09,...,1.0,1.0,1.0,1.0,1.0,2.0,2.0,NaN,NaN,2.0
2,49940,9.0,1.0,1292017,1,29,2017,1200.0,2017000003,2.017000e+09,...,3.0,2.0,1.0,3.0,2.0,1.0,1.0,NaN,NaN,2.0
3,49941,9.0,7.0,9112017,9,11,2017,1200.0,2017000004,2.017000e+09,...,2.0,2.0,2.0,2.0,2.0,1.0,1.0,NaN,NaN,1.0
4,49942,9.0,5.0,7182017,7,18,2017,1200.0,2017000005,2.017000e+09,...,2.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34540,303774,36.0,5.0,5152017,5,15,2017,1200.0,2017012245,2.017012e+09,...,3.0,2.0,2.0,4.0,2.0,1.0,1.0,NaN,NaN,1.0
34541,303775,36.0,6.0,6252017,6,25,2017,1200.0,2017012246,2.017012e+09,...,2.0,2.0,2.0,4.0,2.0,1.0,1.0,NaN,NaN,1.0
34542,303776,36.0,7.0,7212017,7,21,2017,1200.0,2017012247,2.017012e+09,...,2.0,2.0,2.0,4.0,2.0,1.0,1.0,NaN,NaN,1.0
34543,303777,36.0,7.0,7202017,7,20,2017,1200.0,2017012248,2.017012e+09,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
34544,303778,36.0,7.0,7252017,7,25,2017,1200.0,2017012249,2.017012e+09,...,3.0,2.0,2.0,4.0,2.0,1.0,1.0,NaN,NaN,1.0

In [105]:
# Subsetting features by section:
record_identification = cols[1:10]
land_line_intro = cols[11:19]
mobile_line_intro = cols[19:28]
health_status = cols[28] # probable dependent variable
healthy_days = cols[29:32]
health_care_access = cols[32:36]
hypertension = cols[36:38]
cholesterol = cols[38:41]
chronic_health_condition = cols[41:54]
arthritis = cols[54:58]
demographics = cols[58:79]
tobacco = cols[79: 84]
e_cigs = cols[84:87]
alcohol = cols[86:90]
fruits_veggies = cols[90:96]
excercise = cols[96: 104]
seatbelt = cols[104]
immunization = cols[105:109]
hiv = cols[109:112]
pre_diabetes = cols[112:114]
diabetes = cols[114:123]
respiratory_health = cols[123:128]
cardiovascular_health = cols[128:135]
high_blood_pressure = cols[135:145]
arthritis = cols[145:149] 
asthma = cols[149:159]
healthy_days = cols[159:163]
sleep = cols[163:168]
health_care =

In [107]:
cols[168:178]

['MEDICARE',
 'HLTHCVR1',
 'DELAYMED',
 'DLYOTHER',
 'NOCOV121',
 'LSTCOVRG',
 'DRVISITS',
 'MEDSCOS1',
 'CARERCVD',
 'MEDBILL1']