In [1]:
# Import Packages

# Array and Dataframe processing:
import pandas as pd
import numpy as np

# Visualization:
import seaborn as sns
sns.set_style("darkgrid")
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.graph_objects as go
import plotly.express as px
import plotly.figure_factory as ff

In [2]:
df = pd.read_csv("../data/case_study.csv")
df.head()

/Users/raphaelkrantz/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (171) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,...,_PA300R2,_PA30021,_PASTRNG,_PAREC1,_PASTAE1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,49938,9.0,5.0,5172017,5,17,2017,1200.0,2017000001,2.017000e+09,...,2.0,2.0,2.0,4.0,2.0,1.0,1.0,NaN,NaN,1.0
1,49939,9.0,2.0,2142017,2,14,2017,1200.0,2017000002,2.017000e+09,...,1.0,1.0,1.0,1.0,1.0,2.0,2.0,NaN,NaN,2.0
2,49940,9.0,1.0,1292017,1,29,2017,1200.0,2017000003,2.017000e+09,...,3.0,2.0,1.0,3.0,2.0,1.0,1.0,NaN,NaN,2.0
3,49941,9.0,7.0,9112017,9,11,2017,1200.0,2017000004,2.017000e+09,...,2.0,2.0,2.0,2.0,2.0,1.0,1.0,NaN,NaN,1.0
4,49942,9.0,5.0,7182017,7,18,2017,1200.0,2017000005,2.017000e+09,...,2.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,2.0